* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Abel', sans-serif;
  text-align: center;
  height: 100%;
}
body.main{
  text-align: center;
}

a {
  color: var(--black);
  text-decoration: none;
}

a:focus {
  color: var(--black);
  text-decoration: none;
}

a:hover {
  color: var(--black);
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
  padding-bottom: 15px;
}
h2 {
  line-height: 1.3;
}

/* Colors */
:root {
  --primary: #1976D2;
  --light: #63A4FF;
  --dark: #004BA0;
  --white: #FFFFFF;
  --black: #000000;
  --shadow: #616161;

  /* portfolio hovers */
  --murmur-red: #FF5252;
  --ow-orange: #FA9C1E;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: var(--white);
  height: 1px;
  -webkit-transition-property: 25px, 25px;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.nav { 
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  background-color: var(--dark); 
}
.nav ul {
  margin: 0;
  overflow: auto;
  list-style-type: none;
}
.nav li {
  padding: 13px 20px;
  display: inline-block;
}
.nav li a {
  color: var(--white);
  font: 20px/1.2 'Abel', 'Helvetica', sans-serif;
  text-transform: lowercase;
} 
.nav a:active {
  color: var(--white);
}
.nav a:focus {
  color: var(--white);
}
nav a:hover {
  color: var(--white);
}

#navbar {
  margin-left: auto;
  margin-right: auto;
}

table {
  margin-left: auto; 
  margin-right: auto;
  width: 60%;
}
td {
  padding-top: 5px;
  padding-bottom: 5px;
}
th {
  color: var(--white);
  background: var(--light);
  font-size: 20px;
  text-align: center;
  padding: 10px;
  vertical-align: middle;
}

table#cpsc-courses {
  border-collapse: collapse;
  border-spacing: 10px;
  font-size: 25px;
  text-align: center;
}

div#courses {
  margin-bottom: 15px;
}

tr:nth-child(even) {
  background-color: #E0E0E0;
}

#about {
  margin: 0;
  color: var(--white);
  background-color: var(--primary);
  text-align: center;
}
#about-img {
  text-align: center;
}

#education {
  background-color: var(--white);
}
.education a:focus {
  color: var(--black);
  text-decoration: none;
}

#name {
  font-weight: 900;
}

.section {
  padding: 25px;
}
.section#about { 
  -moz-box-shadow:
  inset 0px 8px 30px -10px var(--shadow);
  -webkit-box-shadow:
  inset 0px 8px 30px -10px var(--shadow);
  box-shadow:
  inset 0px 8px 30px -10px var(--shadow);
}
.section#education {
  -moz-box-shadow:
  inset 0px 7px 20px -9px var(--shadow), 
  inset 0px -11px 20px -13px var(--shadow);
  -webkit-box-shadow:
  inset 0px 7px 20px -9px var(--shadow), 
  inset 0px -11px 20px -13px var(--shadow);
  box-shadow:
  inset 0px 7px 20px -9px var(--shadow), 
  inset 0px -11px 20px -13px var(--shadow);
}
.section#portfolio{ 
  -moz-box-shadow:
  inset 0px 11px 10px -9px var(--shadow);
  -webkit-box-shadow:
  inset 0px 11px 10px -9px var(--shadow);
  box-shadow:
  inset 0px 11px 10px -9px var(--shadow);
}

div.portfolio-item {
  -moz-box-shadow:
  1px 0px 30px -10px var(--shadow);
  -webkit-box-shadow:
  1px 0px 30px -10px var(--shadow);
  box-shadow:
  1px 0px 30px -10px var(--shadow);
}

#uc-logo {
  padding-bottom: 10px;
  padding-top: 10px;
  width: 125px;
}

.section#education {
  font-family: 'Abel', sans-serif;
}

.connect {
  margin: auto;
  text-align: center;
  text-transform: lowercase;
}

.instagram:active {
  transform: translateY(5px);
}

.twitter:active {
  transform: translateY(5px);
}

.linkedin:active {
  transform: translateY(5px);
}

.github:active {
  transform: translateY(5px);
}

.email:active {
  transform: translateY(5px);
}

div.img {
  border: 1px solid var(--white);
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  max-width: 25%;
}

div.img:hover {
  background-color: var(--light);
  /* browser engine support */
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

div.img:hover a {
  color: var(--white);
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

div.img img {
  margin: auto;
  width: 100%;
  text-align: center;
}

div.desc {
  font-size: 30px;
  padding: 10%;
  text-align: center;
}

#social-list a {
  color: var(--black);
}
#social-list li {
  padding: 15px 30px;
  display: inline-block;
}

#license-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 10px;
}

/* Fade in */
.main {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
/* Firefox */
@-moz-keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
/* Safari & Chrome */
@-webkit-keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
/* Opera */
@-o-keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}

/* Hover: https://github.com/IanLunn/Hover */
/* Outline Out */
.hvr-outline-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-outline-out:before {
  content: '';
  position: absolute;
  border: var(--light) solid 2px;
  border-radius: 75px;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
}

/* Underline From Center */
.toggle.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.toggle.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: var(--black);
  height: 4px;
  -webkit-transition-property: 25px, 25px;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.toggle.hvr-underline-from-center:hover:before, .toggle.hvr-underline-from-center:focus:before, .toggle.hvr-underline-from-center:active:before {
  left: 25px;
  right: 25px;
}

/* https://codepen.io/rdallaire/pen/apoyx */
/* Return to top button */
#return-to-top {
  background: var(--white);
  background: var(--light);
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 10;
}
#return-to-top i {
  color: var(--white);
  margin: 0;
  position: relative;
  left: 0;
  top: 9px;
  font-size: 19px;
  -webkit-transform:translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: var(--white);
  border-color: var(--light);
  border-style: solid;
}
#return-to-top:hover i {
  color: var(--light);
  top: 0;
}

#experience {
  background-color: var(--primary);
}
#experience.section h1 {
  color: var(--white);
}
#experience .container-fluid {
  padding: 2%;
}

#projects{
  background-color: var(--black);
}
#projects.section h1 {
  color: var(--white);
}

.card {
  min-width: 250px;
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  margin: 5px;
}
.card-deck {
  padding: 25px;
}
.card-title {
  padding-bottom: 25px;
}
img.card-img-top.mx-auto {
  display: block;
  min-width: 175px;
  min-height: 100px;
  padding: 25px 10px;
}
h3.card-title {
  margin-bottom: 0;  
}

/* Portfolio CSS */
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
  min-width: 250px;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 10px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: var(--light);
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 95%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  align-items: center;
  color: var(--white);
  display: flex;
  justify-content: center;
  height: 100%;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content p{
  margin-bottom: 0;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  vertical-align: middle;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding-bottom: 15px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}

/* Portfolio Modal CSS */
.portfolio-modal .modal-dialog {
  height: 100%;
  margin: 0;
  max-width: 100%; /* to overwrite the Bootstrap media query... */
  width: auto !important; 
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 70px 0;
  text-align: left;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  font-size: 20px;
  margin-bottom: 30px;
}
.portfolio-modal .modal-content ul li {
  font-size: 20px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 30px 0 10px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 20px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  background-color: transparent;
  cursor: pointer;
  top: 25px;
  right: 25px;
  position: absolute;
  height: 75px;
  width: 75px;
  z-index: 5;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 2px;
  margin-left: 35px;
  background-color: var(--dark);
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 2px;
  background-color: var(--dark);
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

div.row {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  display: flow-root;
}

div.modal-dialog .modal-content .container .row {
  max-width: 50%;
}

.modal-body {
  padding: 20px;
}
.modal-body ul li {
  list-style-type: none;
}
.modal-body a {
  text-decoration: underline;
}
.modal-body h1 {
  text-decoration: underline;
}

/* toggle HTML based on screen size */ 
@media all and (min-width: 505px) {
  .card-text .desktop {display: block;}
  .card-text .mobile {display: none;}
}
@media all and (max-width: 504px) {
  .card-text .desktop {display: none;}
  .card-text .mobile {display: block;}
}
/* Medium viewports */
@media all and (min-width: 1024px) {
  div.modal-dialog .modal-content .container .row {
    max-width: 75%;
  }
}
@media all and (max-width: 1023px) {
  div.modal-dialog .modal-content .container .row {
    max-width: 100%;
  }
}
/* Largest viewports */
@media all and (min-width: 1680px) {
  div.modal-dialog .modal-content .container .row {
    max-width: 50%;
  }
}
@media all and (max-width: 1679px) {
  div.modal-dialog .modal-content .container .row {
    max-width: 75%%;
  }
}

#overwatch-logo {
  padding: 15px;
}

.img-fluid {
  max-width: 50%;
}

.forest, .lake, .road, .building {
  float: left;
  height: 100vh;
  object-fit: cover;
  width: 25%;
}

#photography {
  height: 100%;
  padding: 0;
  padding-bottom: 15px;
  position: relative;
}
#photography h1 {
  color: var(--white);
  top: 50vh;
  position: absolute;
  width: 100%;
}
#photography h3 {
  color: var(--white);
  top: 75vh;
  position: absolute;
  width: 100%;
}
#photography h3 a {
  color: var(--white);
}

#photography a.hvr-underline-from-center {
  padding: 5px;
  width: 100%;
}

.portfolio-modal .modal-content .sketch-container, .hi-fi-container {
  text-align: center;
}
.portfolio-modal .modal-content .hi-fi-container img {
  margin-bottom: 1px;
}

.sketch, .hi-fi {
  position: relative;
  display: inline-block;
  padding: 5px;
}

.col-min {
  min-width: 320px;
}
